# 1. Ignore all files and directories ONLY at the root level
/*

# 2. Allow these specific root files
!.gitignore
!pyproject.toml
!README.md

# 3. Allow these directories and everything inside them recursively
!/prg_toolbox/
!/tests/
!/example_notebooks/

# EXCEPTION: Force Git to ignore all python bytecode caches anywhere
**/__pycache__/
*.pyc