# 1. Ignore all data files and large directories by default
*

!.gitignore
!pyproject.toml
!README.md

!prg_toolbox/
!tests/

!prg_toolbox/**
!tests/**
git
# EXCEPTION: Force Git to ignore all python bytecode caches
**/__pycache__/
*.pyc