# 1. Ignore all files and directories ONLY at the root level
/*

# 2. Allow these specific root files
!.gitignore
!pyproject.toml
!README.md
!LICENSE

# 2b. Allow these specific root files
!mkdocs.yml

# 3. Allow these directories and everything inside them recursively
!/prg_toolbox/
!/tests/
!/docs/
!/.github/

!/example_notebooks/
/example_notebooks/*
!/example_notebooks/*.ipynb


# EXCEPTION: Force Git to ignore all python bytecode caches anywhere
**/__pycache__/
*.pyc

